body {
  color: $base-color;
  font: $base-font;
  background: $bg-body;
  background-size: cover;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: #ff4f00;
  text-decoration: none;
}
.main-content-wrapper {
  @include media(">=1280px") {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-content {
  background: $bg-text;
  position: relative;
  max-width: 1680px;
  @include media(">=1280px") {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
  }
}
.car-preview {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  @include media(">=1280px") {
    width: 40%;
  }
  @include media(">=1680px") {
    width: 50%;
  }
  > img {
    width: 166vw;
    display: block;
    @include media(">=850px") {
      width: 100%;
    }
    @include media(">=1280px") {
      width: initial;
    }
    @include media(">=1680px") {
      width: 100%;
    }
  }
  > a {
    position: absolute;
    width: 47px;
    height: 25px;
    bottom: 90px;
    left: calc(50% - 23px);
    @include media(">=1280px") {
      display: none;
    }
  }
}
.logo-wrapper {
  width: 80%;
  position: absolute;
  top: 43px;
  left: calc(50% - 40%);
  @include media(">=1280px") {
    top: 54px;
    left: calc(50% - 37%);
  }
}
.logo {
  display: flex;
  h1 {
    width: 66%;

    img {
      width: 100%;
    }
  }
  span {
    width: 38%;
    display: block;
    margin-left: -4%;
    padding-top: 8px;
    img {
      width: 100%;
    }
  }
}
.burger-menu {
  position: absolute;
  z-index: 2;
  top: 118px;
  width: 100%;

  @include media(">=850px") {
    top: 180px;
  }
  @include media(">=1280px") {
    top: 50px;
    width: 1280px;
    max-width: 1280px;
    left: calc(50% - 655px);
  }
  @include media(">=1680px") {
    width: 1560px;
    max-width: 1560px;
    left: calc(50% - 780px);
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ ul {
    opacity: 1;
    height: calc(100vh - 161px);
    @include media(">=850px") {
      height: calc(100vh - 235px);
    }
  }
  label {
    cursor: pointer;
    width: 46px;
    height: 17px;
    position: absolute;
    left: calc(50% - 23px);
    @include media(">=1280px") {
      left: initial;
      right: 5px;
    }
    &:before,
    &:after {
      content: "";
      height: 3px;
      width: 46px;
      background: $base-color-bright;
      position: absolute;
      top: 0;
    }
    &:after {
      top: initial;
      bottom: 0;
    }
    &:before {
      @include media(">=1280px") {
        width: 60px;
        right: 0;
      }
    }
  }
}
.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(57, 57, 57, 0.7);
  width: 80%;
  height: 10px;
  top: 55px;
  left: calc(50% - 40%);
  opacity: 0;
  transition: all 1s ease-in-out;
  li {
    text-transform: uppercase;
    padding-top: 45px;
    font-size: 22px;
  }
}

.car-description {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include media(">=1280px") {
    max-width: 61%;
    overflow: visible;
    z-index: 1;
  }
  @include media(">=1680px") {
    width: 50%;
  }
}
.description-wrapper {
  width: 81%;
  margin: auto;
  position: relative;
  @include media(">=1280px") {
    width: 72%;
  }
  > a {
    display: none;
    @include media(">=1280px") {
      position: absolute;
      display: block;
      top: 38px;
      right: 10px;
      cursor: pointer;
    }
    @include media(">=1680px") {
      right: 30px;
    }
  }
}
.description {
  @include media(">=1280px") {
    width: 100%;
    max-width: 540px;
  }
  > span {
    font: 600 16px "Gilroy", sans-serif;
    color: #919191;
    letter-spacing: 9.7px;
    padding-top: 47px;
    padding-bottom: 15px;
    display: block;
    @include media(">=1280px") {
      padding-top: 100px;
    }
    strong {
      color: $base-color-bright;
    }
  }
  h2 {
    font: 300 70px "Gilroy", sans-serif;
    letter-spacing: -1.3px;
    margin-bottom: 29px;
    position: relative;
    max-width: 520px;
    &:before {
      position: absolute;
      content: "";
      height: 221px;
      width: 7px;
      background: $base-color-bright;
      left: -55px;
      top: 20px;
    }
    em {
      font-weight: 700;
    }
  }
  p {
    margin-bottom: 46px;

    span {
      font-weight: 600;
    }
  }
  button {
    width: 250px;
    height: 68px;
    background-color: rgba(255, 79, 0, 0.1);
    border: 3px solid $base-color-bright;
    color: $base-color;
    font: 700 14px "Gilroy", sans-serif;
    letter-spacing: 8px;
    margin-bottom: 60px;
  }
}
.slick-arrow {
  padding-bottom: 170px;
  @include media(">=1280px") {
    padding-bottom: 110px;
  }
  a {
    margin-right: 60px;
  }
}
.visual {
  background: $base-color-bright;
  ul {
    width: 81%;
    height: 135px;
    margin: auto;
    display: flex;
    @include media(">=1280px") {
      height: 155px;
      width: 100%;
      margin-left: -135px;
    }
    li {
      margin-top: -95px;
      cursor: pointer;
    }
    .active {
      @include media(">=1280px") {
        border-top: 10px solid $base-color-bright;
        margin-top: -120px;
        img {
          box-shadow: 0px 10px 13px -7px #000000,
            1px 3px 5px 5px rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
