$bg-body: radial-gradient(
  ellipse at center,
  rgba(58, 58, 59, 0.8) 0%,
  rgba(40, 40, 41, 0.8) 55%,
  rgba(26, 26, 26, 1) 100%
);
$bg-text: linear-gradient(
  to bottom,
  rgba(45, 45, 45, 1) 0%,
  rgba(67, 53, 46, 1) 100%
);
$base-color: #fff;
$base-font: 400 19px/38px "Gilroy", sans-serif;
$base-color-bright: #ff4f00;
